.square {
  background-color: blue;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  float: left;
  margin: 2px;
}
.square .walls-top .wall-left {
  border-radius: 5px 0 0 0;
}
.square .walls-top .wall-right {
  border-radius: 0 5px 0 0;
}
.square .walls-bottom .wall-left {
  border-radius: 0 0 0 5px;
}
.square .walls-bottom .wall-right {
  border-radius: 0 0 5px 0;
}
.square div {
  background-color: red;
  clear: both;
}
.square div div {
  float: left;
  clear: none;
}
.square .walls-top div,
.square .walls-bottom div {
  height: 10px;
}
.square .walls-middle div {
  height: 30px;
}
.square .wall-left,
.square .wall-right {
  width: 10px;
}
.square .wall-centre {
  width: 30px;
}
.square .walls-middle .wall-centre {
  background-color: green;
}
.square.up .walls-top .wall-centre {
  background-color: green;
}
.square.down .walls-bottom .wall-centre {
  background-color: green;
}
.square.left .walls-middle .wall-left {
  background-color: green;
}
.square.right .walls-middle .wall-right {
  background-color: green;
}
