@import "variables.less";

.boardItem {
	width: 9.5%;
}

.square {
	position: relative;
	background-color: blue;
	border-radius: 5px;
	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}
	.innerSquare {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.wallContainer {
			display: flex;
			flex-direction: column;
			height: 100%;

			.walls {
				display: flex;
				flex-direction: row;
				height: 20%;
				.wall {
					width: 20%;
					background-color: @wall-colour;
					&.centre {
						width: 60%;
					}
				}
				&.middle {
					height: 60%;
					.centre {
						background-color: @floor-colour;
					}
				}
				&.top {
					.left {
						border-radius: 5px 0 0 0;
					}
					.right {
						border-radius: 0 5px 0 0;
					}
				}
				&.bottom {
					.left {
						border-radius: 0 0 0 5px;
					}
					.right {
						border-radius: 0 0 5px 0;
					}
				}

			}
		}
	}
	&.up {
		.walls.top {
			.centre {
				background-color: @floor-colour;
			}
		}
	}
	&.down {
		.walls.bottom {
			.centre {
				background-color: @floor-colour;
			}
		}
	}
	&.left {
		.walls.middle {
			.left {
				background-color: @floor-colour;
			}
		}
	}
	&.right {
		.walls.middle {
			.right {
				background-color: @floor-colour;
			}
		}
	}
}